.logo-container {
  z-index: 0;
  width: 0px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 55%;
  bottom: 65%;
  left: 48%;
  margin: auto;

  img {
    width: 500px;
    height: auto;
  
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    
  }}